body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #5cb85c;
}
a:hover {
	text-decoration: none;
    color: #419641;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 13px;
}
.input-group .input-group-addon {
	font-size: 13px;
	height: 30px;
}

.btn {
    font-size: 13px;
}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #5cb85c;
	background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}

#top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
    font-size: 13px;
}
#top-links .dropdown-menu a:hover {
	color: #888;
}
#top-links {
	padding-top: 6px;
}

/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
    padding: 10px 0px 10px 10px;
}
#cart > .btn {
	font-size: 13px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
    min-width:260px;
    margin-top: 12px;
    font-size: 13px;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
    min-height: 40px;
}

#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #36A004;
	background-image: none;
	border-color: #308E04 #308E04 #174402;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #308E04;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}

/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
/*	text-shadow: 0 1px 0 #000000;*/
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 134px;
}
.product-list .product-thumb .caption {
	margin-left: 142px;
    text-align: center;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/*--Added by UI----*/
#logo a{
    color: #5cb85c;
}

#logo img{
	margin-top: -15px;
	margin-left: 10px;
	/*width:  180px;*/
	height: 75px;
}

#logo h1{
    margin-top: 1px;
}

/*--Cart---*/
#cart .dropdown-menu li > div.header-cart-title{
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

#cart .dropdown-toggle span, #cart .dropdown-toggle i{
    color: #777575;
}

/*--------Carousel------*/
.carousel-inner .item{
    height: 300px;
}

/*----Form buttons------*/
.form-actions{
    margin-top: 5px;
}

/*--Reviews---*/
.media-heading > .review-date{
    font-size: 11px;
    color: #a5b2b9;
}

h5.media-heading{
    font-size: 13px;
}

.media-footer{
    color: #768187;
    margin: 4px 0 0;
}

.media-footer .menu{
    margin: 0px;
    padding: 0px;
}

.media-footer menu li {
    float: left;
    list-style-type: none;
    margin: 0 7px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
}

.media-footer .bullet {
    padding: 0;
    color: #ccc;
}

.addon-container .media-footer a {
    color: #768187;
}

.media:nth-child(odd) {
    background-color: #F9F9F9;
}

#review-listview .media-body{
    padding: 5px;
}

/*---Global Menu---*/
#menu .nav > li.active > a {
    background-color: #2C8204;
}
/*-------Pagination--------*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #32434D;
    border-color: #32434D;  
    cursor: default;
}

#local-options{
    padding-top: 6px;
}

#local-options li, #local-options a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

/*--------Page content-----*/
#content{
    min-height: 200px;
}

#top #top-links > ul > li {
    float: left;
    border-left: 1px dotted #ccc;
}

.header-row{
    padding-top:10px;
    padding-bottom: 6px;
}

/*--------Sorting--------*/
.sorting {
    background: url('../images/tables/sort_both.png') no-repeat 100%;
    padding-right: 24px!important;
}

.sorting.asc {
    background: url('../images/tables/sort_asc.png') no-repeat 100%;
    padding-right: 24px!important;
}

.sorting.desc {
    background: url('../images/tables/sort_desc.png') no-repeat 100%;
    padding-right: 24px!important;
}

/*----------Price Display----------------*/
.price-old{
    text-decoration: line-through;
}

/*----Account sidebar--------*/
#accountsidebar .title{
    margin-bottom: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #444;
    font-weight: 600;
}

#accountsidebarlist{
    margin: 0px;
    padding: 0px;
}

#accountsidebarlist li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#accountsidebarlist > li > a {
    display: block;
    padding: 10px 10px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
}

#accountsidebarlist > li > a {
    border-left: 3px solid #36A004;
}

/*-----------Item View----------*/
.product-thumb .price {
    margin-top: 10px;
}

.product-grid .product-thumb .image {
    margin-top: 5px;
}

/*.product-list .button-group{
    display: none;
}*/

.product-grid .list-action{
    display: none;
}

@media (min-width: 767px){
    .product-list .product-thumb .image {
        margin-top: 5px;
    }
}

.product-thumb a{
    color: #444;
    cursor: pointer;
}

.product-thumb .title{
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px;
}
/*-----------Tab view----------*/
.tabbable{
    margin-top: 10px;
    margin-left: 10px;
}

/*------------Compare products--------*/
.compare-grid-container .table > thead > tr > th {
    border-bottom: 0px;
}

/*------------Product Category Sidebar-----------*/
#catgeory-sidebar-menu .list-group a{
    border: 0px;
}

#catgeory-sidebar-menu .list-group-item.active,
#catgeory-sidebar-menu .list-group-item.active a, 
#catgeory-sidebar-menu .list-group-item.active:hover, 
#catgeory-sidebar-menu .list-group-item.active:focus {
   color: #444444;
   background: #eeeeee;
   text-shadow: 0 1px 0 #FFF;
}
#catgeory-sidebar-menu .list-group-item.active{
    border: 1px solid #DDDDDD;
}

/*--------Loader---------*/
.loader, .button-loader{
    background:url(../images/loader.gif) no-repeat;
    background-position:  center center;
    opacity: 1;
}

.loader *, .button-loader * {
    opacity: .8;
}

.button-loader{
    background-position:  left center;
    opacity: 1;
}

.panel-body-front{
    padding-bottom:0px; 
}

.panel-body .form-actions {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}